@font-face {
	font-family: 'open sans';
	src: url("./src/fonts/open-sans/OpenSans-Regular.ttf");
}



* {

	font-family: 'open sans';
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */

}


/*
body {
	background: rgb(255,238,216);
	background: linear-gradient(90deg, rgba(255,238,216,1) 0%, rgba(255,238,216,1) 10%, rgba(178,242,255,1) 50%);



	background-repeat: no-repeat;
	background-attachment: fixed;

	margin: 0;
	height: 100%;
	overflow: hidden
}





nav{
	background-color: rgba(85, 85, 85, 0.31);
	transform: translate(0px, 20px);
	height: 5vh;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
#title{
	transform: translate(10px, 0px);
	font-size: 2vw;
}

.nav-buttons{
	display: flex;
	justify-content: end;
	align-items: center;
}
.nav-button{
	background-color: rgb(66, 66, 66);
	color:white;
	font-size: 150%;
	border: 1px solid rgb(66, 66, 66);
	border-radius: 10px;
	margin: 10px;
	width: 10vw;
}
.nav-button:hover{
	background-color: white;
	border-color: white;
	color:black;
	transform: translate(-40px, 0px);
	box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
}

.container{


	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
	
	height: 90%;
	background-image: url(test.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.blocks{
	height: 90vh;
	margin: 10vw;
}

.line{
	display: flex;
	justify-content: center;
	align-items: center;
}

#bg{
	background-color: lightgreen;
	width: 100vw;
	height:100vh;
}

.name-list{
	position: relative;
	transform: translate(0px,  -250px);
	width:  30vw;
	height: 80vh;
	overflow-y: auto;
}


.name-list::-webkit-scrollbar{
	width: .5vw;
	background-color: rgb(25, 162, 189);
}
.name-list::-webkit-scrollbar-thumb{
	width: .5vw;
	height: 8px;
	background-color: rgb(27, 233, 252);
}



.poke-list{



	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;

	margin: 15px;

	height: 100px;



}


.unselected:hover{
	
	transform: translate(-10px, 0px);

	box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
	border: 2px solid white;

	transition: all .2s ease;

	border-radius: 110px;
}

.selected{
	color: white;
	background: black;
	background: linear-gradient(-45deg, black 0%, black 49%, rgb(61, 223, 255) 50%, rgb(61, 223, 255) 100%);
	transform: translate(-15px, -10px);

	box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
	border: 5px solid linear-gradient(-45deg, black 0%, black 49%, rgb(61, 223, 255) 50%, rgb(61, 223, 255) 100%);
	transition: all .07s ease;
	border-radius: 110px;
}

.poke-type{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.type-box{
	font-weight: bold;
	font-size: 2em;
	color:white;
	width: 10vw;
	height: 5vw;
	text-align: center;
	text-justify: center;
	border-radius: 1em;
	box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);

}

.poke-sprite{
	padding: 10px;
	height: 50px;
	width: 50px;
}



.infos{
	width: 25vw;
}

.poke-base{
	text-align:left;
	width: 25vw;
	background-color: rgba(255, 250, 243, .2);
	border-radius: 1em;
	box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
}

.poke-list-name{
	position: absolute;
	left: 55%;
}

.poke-list-text{
	color: white;
	padding: 10px;
}

.list-left{
	position: absolute;
	left: 0%;
	display: flex;
	justify-self: flex-start;
	align-items: center;
}


*/






@media screen and (max-width: 768px){


	body {
		background: rgb(255,238,216);
		background: linear-gradient(90deg, rgba(255,238,216,1) 0%, rgba(255,238,216,1) 10%, rgba(178,242,255,1) 50%);
	

		background-repeat: no-repeat;

		margin: 0px;
		height: 100%;

	}
	
	
	
	
	
	nav{
		background-color: rgba(85, 85, 85, 0.31);
		transform: translate(0px, 20px);
		height: 5vh;
		color: black;
		display: flex;
		justify-content: space-between;
		align-items: center;
	
	}
	#title{
		transform: translate(10px, 0px);
		font-size: 2rem;
	}
	
	.nav-buttons{
		display: flex;
		justify-content: end;
		align-items: center;
	}

	.nav-button{
		background-color: rgb(66, 66, 66);
		color:white;
		font-size: 1rem;
		font-style: bold;
		border: 1px solid rgb(66, 66, 66);
		border-radius: 10px;
		margin: 0.1rem;
		padding: 0.1rem;
	}

	.nav-button:hover{
		background-color: white;
		border-color: white;
		color:black;
		transform: translate(-20px, 0px);
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
	}
	
	.container{
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between; 
		align-items: center;


		background-image: url(test.svg);
		background-repeat: no-repeat;

	
	}
	
	.blocks{
		height: 40vh;
		width: 95vw;
		margin: 2rem;

	}
	

	
	.name-list{
		background-color: rgb(25, 162, 189);
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
		border: 2px solid rgb(25, 162, 189);
		border-radius: 10px;
		overflow-y: auto;

		scroll-snap-type: y mandatory;
	}
	
	.name-list::-webkit-scrollbar{
		width: 1rem;
		background-color: rgb(25, 162, 189);

		border: 2px solid white;
		border-radius: 10px; 
	}
	.name-list::-webkit-scrollbar-thumb{
		width: 1rem;
		height: 1rem;
		background-color: rgb(27, 233, 252);

		border: 2px solid rgb(27, 233, 252);
		border-radius: 10px; 
	}
	
	
	
	.poke-list{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;

		margin: 1rem;
	
		height: 2rem;

		font-size: .5rem;
		color: black;

		scroll-snap-align: start;

	}

	.list-left{
		display: flex;
		justify-self: flex-start;
		align-items: center;
	}
	
	.poke-sprite{
		transform: translate(-10px, -10px);
		padding: 10px;
		height: 3rem;
		width: 	3rem;
	}


	.poke-list-no{

	}

	.poke-list-name{
		padding: 1rem;
	}
	


	.unselected:hover{
		
		transform: translate(-5px, 0px);
	
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
		border: 2px solid white;
	
		transition: all .2s ease;
	
		border-radius: 110px;
	}
	
	.selected{
		color: white;
		background: black;
		background: linear-gradient(-45deg, black 0%, black 49%, rgb(61, 223, 255) 50%, rgb(61, 223, 255) 100%);
		transform: translate(-5px, -10px);
	
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
		border: 5px solid linear-gradient(-45deg, black 0%, black 49%, rgb(61, 223, 255) 50%, rgb(61, 223, 255) 100%);/*rgb(61, 223, 255);*/
		transition: all .1s ease;
		border-radius: 110px;
	}
	

	.infos{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.info-name{
		text-transform: uppercase;
		font-size: 2.5rem;
		font-style: bold;
		text-align: center;
	}

	.poke-type{
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
	}
	
	.type-box{
		color:white;
		font-weight: bold;
		text-align: center;
		text-justify: center;
		font-size: 1rem;
		width: 25vw;
		height: 1.5rem;

		border-radius: 1rem;
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);

		margin: 1rem;
	}
	

	.poke-illustaration{

		margin-left: auto;
		margin-right: auto;
		width: 30%;
	}
	
	

	
	.poke-base{
		/* visibility: hidden; */
		margin-left: auto;
		margin-right: auto;
		text-align:left;
		
		background-color: rgba(255, 250, 243, .2);
		
		border-radius: 1em;
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
		
		
		
		
		width: 99%;

		font-size: .5rem;
		overflow-y: auto;

		scroll-snap-type: y mandatory;
	}
	.base-text{
		scroll-snap-align: start;
	}
	
	.poke-base::-webkit-scrollbar{
		width: 1rem;
		background-color: rgb(25, 162, 189);

		border: 2px solid white;
		border-radius: 10px; 
	}
	.poke-base::-webkit-scrollbar-thumb{
		width: 1rem;
		height: 1rem;
		background-color: rgb(27, 233, 252);

		border: 2px solid rgb(27, 233, 252);
		border-radius: 10px; 
	}



	
}








@media screen and (max-width: 1024px) and (min-width: 769px) {

body {
	background: rgb(255,238,216);
	background: linear-gradient(90deg, rgba(255,238,216,1) 0%, rgba(255,238,216,1) 10%, rgba(178,242,255,1) 50%);



	background-repeat: no-repeat;


	margin: 0;
	height: 100%;
	overflow: hidden
}





nav{
	background-color: rgba(85, 85, 85, 0.31);
	transform: translate(0px, 20px);
	height: 5vh;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
#title{
	transform: translate(10px, 0px);
	font-size: 2rem;
}

.nav-buttons{
	display: flex;
	justify-content: end;
	align-items: center;
}
.nav-button{
	background-color: rgb(66, 66, 66);
	color:white;
	font-size: 1rem;
	border: 1px solid rgb(66, 66, 66);
	border-radius: 10px;
	margin: 1rem;
}
.nav-button:hover{
	background-color: white;
	border-color: white;
	color:black;
	transform: translate(-20px, 0px);
	box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
}

.container{


	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	
	background-image: url(test.svg);
	background-repeat: no-repeat;
	/* background-attachment: fixed; */

}

.blocks{
	height: 90vh;
	width: 45vw;
	margin: 1rem;
}


.name-list{
	/* background-color: rgb(25, 162, 189);
	box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
	border: 2px solid rgb(25, 162, 189);
	border-radius: 10px; */
	overflow-y: auto;

	scroll-snap-type: y mandatory;
}


.name-list::-webkit-scrollbar{
	width: 1rem;
	background-color: rgb(25, 162, 189);
	border: 2px solid white;
	border-radius: 10px; 
}
.name-list::-webkit-scrollbar-thumb{
	width: 1rem;
	height: 1rem;
	background-color: rgb(27, 233, 252);

	border: 2px solid rgb(27, 233, 252);
	border-radius: 10px; 
}



.poke-list{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;

	margin: 1rem;
	
	height: 2rem;

	font-size: .5rem;
	color: black;

	scroll-snap-align: start;

}
.list-left{
	display: flex;
	justify-self: flex-start;
	align-items: center;
}

.poke-sprite{
	transform: translate(-10px, -10px);
	padding: 10px;
	height: 3rem;
	width: 	3rem;
}


.poke-list-name{
	padding: 1rem;
}

.unselected:hover{
	
	transform: translate(-10px, 0px);

	box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
	border: 2px solid white;

	transition: all .2s ease;

	border-radius: 110px;
}

.selected{
	color: white;
	background: black;
	background: linear-gradient(-45deg, black 0%, black 49%, rgb(61, 223, 255) 50%, rgb(61, 223, 255) 100%);
	transform: translate(-15px, -10px);

	box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
	border: 5px solid linear-gradient(-45deg, black 0%, black 49%, rgb(61, 223, 255) 50%, rgb(61, 223, 255) 100%);
	transition: all .07s ease;
	border-radius: 110px;
}

.infos{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info-name{
	text-transform: uppercase;
	font-size: 2.5rem;
	font-style: bold;
	text-align: center;
}


.poke-type{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.type-box{
	color:white;
	font-weight: bold;
	text-align: center;
	text-justify: center;
	font-size: 1rem;
	width: 25%;
	height: 2rem;

	border-radius: 1rem;
	box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);

	margin: 1rem;
}



.poke-illustaration{

	margin-left: auto;
	margin-right: auto;
	width: 60%;
}


.poke-base{
	/* visibility: hidden; */
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	
	background-color: rgba(255, 250, 243, .2);
	
	border-radius: 1em;
	box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
	
	
	
	
	width: 100%;

	font-size: 1rem;
	overflow-y: auto;

	scroll-snap-type: y mandatory;
}
.base-text{
	scroll-snap-align: start;
}

.poke-base::-webkit-scrollbar{
	width: 1rem;
	background-color: rgb(25, 162, 189);

	border: 2px solid white;
	border-radius: 10px; 
}
.poke-base::-webkit-scrollbar-thumb{
	width: 1rem;
	height: 1rem;
	background-color: rgb(27, 233, 252);

	border: 2px solid rgb(27, 233, 252);
	border-radius: 10px; 
}









}

@media screen and (min-width: 1024px) {
	body {
		background: rgb(255,238,216);
		background: linear-gradient(90deg, rgba(255,238,216,1) 0%, rgba(255,238,216,1) 10%, rgba(178,242,255,1) 50%);
	
	
	
		background-repeat: no-repeat;
	
	
		margin: 0;
		height: 100%;
		overflow: hidden
	}
	
	
	
	
	
	nav{
		background-color: rgba(85, 85, 85, 0.31);
		transform: translate(0px, 20px);
		height: 5vh;
		color: black;
		display: flex;
		justify-content: space-between;
		align-items: center;
	
	}
	#title{
		transform: translate(10px, 0px);
		font-size: 2rem;
	}
	
	.nav-buttons{
		display: flex;
		justify-content: end;
		align-items: center;
	}
	.nav-button{
		background-color: rgb(66, 66, 66);
		color:white;
		font-size: 1rem;
		border: 1px solid rgb(66, 66, 66);
		border-radius: 10px;
		margin: 1rem;
	}
	.nav-button:hover{
		background-color: white;
		border-color: white;
		color:black;
		transform: translate(-20px, 0px);
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
	}
	
	.container{
	
	
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		
		background-image: url(test.svg);
		background-repeat: no-repeat;
		/* background-attachment: fixed; */
	
	}
	
	.blocks{
		height: 90vh;
		width: 45vw;
		margin: 1rem;
	}
	
	
	.name-list{
		/* background-color: rgb(25, 162, 189);
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
		border: 2px solid rgb(25, 162, 189);
		border-radius: 10px; */
		overflow-y: auto;
	
		scroll-snap-type: y mandatory;
	}
	
	
	.name-list::-webkit-scrollbar{
		width: 1rem;
		background-color: rgb(25, 162, 189);
		border: 2px solid white;
		border-radius: 10px; 
	}
	.name-list::-webkit-scrollbar-thumb{
		width: 1rem;
		height: 1rem;
		background-color: rgb(27, 233, 252);
	
		border: 2px solid rgb(27, 233, 252);
		border-radius: 10px; 
	}
	
	
	
	.poke-list{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	
		margin: 1rem;
		
		height: 2rem;
	
		font-size: .5rem;
		color: black;
	
		scroll-snap-align: start;
	
	}
	.list-left{
		display: flex;
		justify-self: flex-start;
		align-items: center;
	}
	
	.poke-sprite{
		transform: translate(-10px, -10px);
		padding: 10px;
		height: 3rem;
		width: 	3rem;
	}
	
	
	.poke-list-name{
		padding: 1rem;
	}
	
	.unselected:hover{
		
		transform: translate(-10px, 0px);
	
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
		border: 2px solid white;
	
		transition: all .2s ease;
	
		border-radius: 110px;
	}
	
	.selected{
		color: white;
		background: black;
		background: linear-gradient(-45deg, black 0%, black 49%, rgb(61, 223, 255) 50%, rgb(61, 223, 255) 100%);
		transform: translate(-15px, -10px);
	
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
		border: 5px solid linear-gradient(-45deg, black 0%, black 49%, rgb(61, 223, 255) 50%, rgb(61, 223, 255) 100%);
		transition: all .07s ease;
		border-radius: 110px;
	}
	
	.infos{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.info-name{
		text-transform: uppercase;
		font-size: 2.5rem;
		font-style: bold;
		text-align: center;
	}
	
	
	.poke-type{
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
	}
	
	.type-box{
		color:white;
		font-weight: bold;
		text-align: center;
		text-justify: center;
		font-size: 1rem;
		width: 25%;
		height: 2rem;
	
		border-radius: 1rem;
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
	
		margin: 1rem;
	}
	
	
	
	.poke-illustaration{
	
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}
	
	
	.poke-base{
		/* visibility: hidden; */
		margin-left: auto;
		margin-right: auto;
		text-align:left;
		
		background-color: rgba(255, 250, 243, .2);
		
		border-radius: 1em;
		box-shadow: 10px 10px 10px 0px rgba(30, 30, 30, 0.75);
		
		
		
		
		width: 100%;
	
		font-size: 1rem;
		overflow-y: auto;
	
		scroll-snap-type: y mandatory;
	}
	.base-text{
		scroll-snap-align: start;
	}
	
	.poke-base::-webkit-scrollbar{
		width: 1rem;
		background-color: rgb(25, 162, 189);
	
		border: 2px solid white;
		border-radius: 10px; 
	}
	.poke-base::-webkit-scrollbar-thumb{
		width: 1rem;
		height: 1rem;
		background-color: rgb(27, 233, 252);
	
		border: 2px solid rgb(27, 233, 252);
		border-radius: 10px; 
	}
	
	
}


@media  screen and (min-width: 1201px) 
{

	
}

