@font-face {
	font-family: 'open sans';
	src: url("./src/fonts/open-sans/OpenSans-Regular.ttf");
}
* {
	font-family: 'open sans';
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */

}


body {
	background: rgb(255,238,216);
	background: linear-gradient(90deg, rgba(255,238,216,1) 0%, rgba(255,238,216,1) 10%, rgba(178,242,255,1) 50%);
	background-repeat: no-repeat;
	margin: 0px;
	height: 100%;

}

.container{
	display: flex;
	justify-content: space-between; 
	align-items: center;
	background-image: url(test.svg);
	background-repeat: no-repeat;
}






/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/




nav{
	background-color: rgba(85, 85, 85, 0.31);
	transform: translate(0px, 20px);
	height: 5vh;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;

}


#title{
	color: white;
	transform: translate(10px, 0px);
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 0px;

	letter-spacing: 0.3em;

}
#title-svg{
	transform: translate(-0.2rem,0px);
	width: 	3rem;
	height: 3rem;
}
#title-svg:hover{
	width: 	3.1rem;
	height: 3.1rem;
}


.nav-buttons{
	display: flex;
	justify-content: end;
	align-items: center;
}



.nav-button{
	background-color: rgb(66, 66, 66);
	color:white;
	font-size: 1rem;
	font-style: bold;
	border: 1px solid rgb(66, 66, 66);
	border-radius: 10px;
	margin: 0.2rem;
	padding: 0.2rem;
}

.nav-button:hover{
	background-color: white;
	border-color: white;
	color:black;
	transform: translate(-10px, 0px);
	box-shadow: 2px 2px 2px 0px rgba(30, 30, 30, 0.25);
}



#regions, #search {
	cursor: pointer;
}
  

#regions, #search {
	position: relative;
	display: inline-block;
  }
  

#dropdown-regions, #dropdown-search {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	border-radius: 5px 30px 5px 30px;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100;
  }
  

#dropdown-regions h2, #dropdown-search input {
	color: black;
	margin: 10px;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  

#regions:hover #dropdown-regions, #search:hover #dropdown-search {
	display: block;
  }
  

#dropdown-search input:hover, input, #dropdown-regions h2:hover {
	color: #f1f1f1;
	background-color: #464646;
	border-radius: 15px;
}



#dropdown-search{
	transform: translate(-150px, 0px);
}



.shake {
	animation: shake 0.3s;
}
  
  @keyframes shake {
	0% 	 { transform: translate(1px, 1px) 	rotate(0deg)  	;}
	10%  { transform: translate(-1px, -2px) rotate(-1deg) 	;}
	20%  { transform: translate(-3px, 0px) 	rotate(1deg)	;}
	30%  { transform: translate(3px, 2px) 	rotate(0deg)	;}
	40%  { transform: translate(1px, -1px) 	rotate(1deg)	;}
	50%  { transform: translate(-1px, 2px) 	rotate(-1deg)	;}
	60%  { transform: translate(-3px, 1px) 	rotate(0deg)	;}
	70%  { transform: translate(3px, 1px) 	rotate(-1deg)	;}
	80%  { transform: translate(-1px, -1px) rotate(1deg)	;}
	90%  { transform: translate(1px, 2px) 	rotate(0deg)	;}
	100% { transform: translate(1px, -2px) 	rotate(-1deg)	;}
  }

/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/


.name-list{
	overflow-y: auto;
}
.name-list::-webkit-scrollbar{
	width: 1rem;
	background-color: rgb(25, 162, 189);
	border: 2px solid white;
	border-radius: 10px; 
}
.name-list::-webkit-scrollbar-thumb{
	width: 1rem;
	height: 1rem;
	background-color: rgb(27, 233, 252);
	border: 2px solid rgb(27, 233, 252);
	border-radius: 10px; 
}

.poke-list{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
	height: 2rem;
	font-size: .5rem;
	color: black;
	border: 5px solid rgba(0,0,0,0);
}

.list-left{
	display: flex;
	justify-self: flex-start;
	align-items: center;
}


.poke-sprite{
	transform: translate(-10px, -10px);
	padding: 10px;
	height: 3rem;
	width: 	3rem;
}

.poke-list-no{
    overflow: hidden;
    white-space: nowrap;
}

.poke-list-name{
	padding: 1rem;
}

.list-right{
	display: flex;
	justify-self: flex-start;
	align-items: center;
}

.pokeball-sprite{
	visibility: hidden;
	padding: 10px;
	height: 3rem;
	width: 	3rem;
}


.selected > .list-right > .pokeball-sprite{
	visibility: visible;
}


.unselected:hover{
	box-shadow:  2px 2px 4px 0 rgb(0 ,0, 0 , 0.25);
	border: 5px solid rgba(255, 255, 255, 0.698);
	transition: all .2s ease;
	border-radius: 110px;
}

.selected{
	color: white;
	background: black;
	background: linear-gradient(-45deg, black 0%, black 49%, rgb(61, 223, 255) 50%, rgb(61, 223, 255) 100%);
	box-shadow:  2px 2px 4px 0 rgb(0 ,0, 0 , 0.25);
	transition: all .1s ease;
	border-radius: 110px;
	border-style: hidden;
}






/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/



.infos{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info-name{
	text-transform: uppercase;
	font-size: 2.5rem;
	font-style: bold;
	text-align: center;
}


.poke-type{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.type-box{
	color:white;
	font-weight: bold;
	text-align: center;
	text-justify: center;
	font-size: 1rem;
	border-radius: 1rem;
	box-shadow:  2px 2px 4px 0 rgb(0 ,0, 0 , 0.25);
	margin: 1rem;
}
.poke-base{
	min-height: 50px;
	background-color: rgba(255, 250, 243, .2);
	border-radius: 1em;
	box-shadow:  2px 2px 4px 0 rgb(0 ,0, 0 , 0.25);
	width: 100%;
	overflow-y: auto;

}

.base-text{
	font-size: 1rem;
	padding: 1rem;
}

.poke-base::-webkit-scrollbar{
	width: 1rem;
	background-color: rgb(25, 162, 189);
	border: 2px solid white;
	border-radius: 10px; 
}
.poke-base::-webkit-scrollbar-thumb{
	width: 1rem;
	height: 1rem;
	background-color: rgb(27, 233, 252);

	border: 2px solid rgb(27, 233, 252);
	border-radius: 10px; 
}


/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2vh;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	text-align: center;
  }

@media screen and (max-width: 768px){
	.container{
		flex-direction: column-reverse;
		width: 100%;
	}
	.blocks{
		height: 40vh;
		width: 90vw;
		margin: 2rem;
	}
	.name-list{
		background-color: rgb(25, 162, 189);
		box-shadow:  2px 2px 4px 0 rgb(0 ,0, 0 , 0.25);
		border: 2px solid rgb(25, 162, 189);
		border-radius: 10px;
	}
	.unselected:hover{
		transform: translate(-5px, 0px);
	}
	.type-box{
		width: 25vw;
		height: 1.5rem;
	}
	.poke-illustaration{
		margin-left: auto;
		margin-right: auto;
		width: 30%;
	}
}


@media screen and (max-width: 1024px) and (min-width: 769px) {
	body {
		overflow: hidden
	}
	.container{
		flex-direction: row-reverse;
	}
	.blocks{
		height: 90vh;
		width: 45vw;
		margin: 2rem;
	}
	.unselected:hover{
		transform: translate(-10px, 0px);
	}
	.type-box{
		width: 25%;
		height: 2rem;
	}
	.poke-illustaration{
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}
}

@media screen and (min-width: 1024px) {
	body {
		overflow: hidden
	}
	.container{
		flex-direction: row-reverse;
	}
	.blocks{
		height: 90vh;
		width: 45vw;
		margin: 1rem;
	}
	.unselected:hover{
		transform: translate(-10px, 0px);
	}
	.selected{
		transform: translate(-15px, -10px);
	}
	.type-box{
		width: 15%;
		height: 2rem;
	}
	.poke-illustaration{
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}
}


@media  screen and (min-width: 1201px) 
{

	
}